
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body {
    width: 1440px;
    display: flex;
    margin: auto;
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-x: scroll;

}