@use "var";


.book-cards {
    
    width: 424px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.book-cards__info {
    position: relative;
    width: 176px;
    height: 203px;
}

.book-cards__img {

    width: 212px;
    height: 300px;
}


.book-cards__authors {
    position: absolute;
    top: 0;
    left: 0;
    font-family: var.$bookCardsFont;
    font-size: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;

}

.book-cards__authors:hover {

    height: auto;
    overflow: visible;
    text-overflow: initial;
    display: inline-block;
    z-index: 2;
    background-color: #FFFFFF;
}

.book-cards__title {
    position: absolute;
    top: 18px;
    left: 0;
    height: 20px;
    font-family: var.$fontBold;
    font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.book-cards__title:hover {

    height: auto;
    overflow: visible;
    text-overflow: initial;
    display: inline-block;
    z-index: 2;
    background-color: #FFFFFF;
}


.book-cards__rating {
    position: absolute;
    top: 42px;
    left: 0;
    width: 121px;
    height: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
}

.book-cards__star {
    fill: #EEEDF5;
}
.book-cards__star--activ {
    fill: #F2C94C;
}



.book-cards__ratings-count {
    font-family: var.$bookCardsFont;
    font-size: 10px;
}

.book-cards__description {

    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    height: 42px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    font-family: var.$bookCardsFont;
    font-size: 10px;
}


.book-cards__price {
    position: absolute;
    top: 126px;
    left: 0;
}




/*iPadPro 12.9*/
@media (min-width: 1024px) and (max-width: 1439px) {

    .book-cards {
        width: 410px;
        height: 300px;
    }

}

/*iPad mini*/
@media (min-width: 768px) and (max-width: 1023px) {
    .book-cards {
        width: 350px;
        height: 215px;
    }
    .book-cards__img {
        width: 150px;
        height: 214px;
    }

}

/*iPhone 11 Pro Max */
@media (min-width: 414px) and (max-width: 767px) {
    
  
}

/*iPhone SE */
@media (min-width: 0px) and (max-width: 413px) {
    .book-cards {
        width: 100%;
        height: auto;
        flex-direction: column;
        gap: 10px;
    }

    .book-cards__img {
        width: 230px;
        height: 300px;

    }

    .book-cards__info {

        width: 230px;
        height: 203px;
    }
    
}
