@use "var";

.button {
    width: 176px;
    height: 45px;
    color: var.$buttonColor;
    border: 1px solid var.$buttonColor;
    background-color: var.$buttonBckgColor;
    text-transform: uppercase;
    cursor: pointer;
}


.button--book-cards {
    position: absolute;
    top: 158px;
    left: 0;
}