.content {
    width: 1120px;
    margin-top: 3px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    }

.content__container {
    display: flex;
}

.content__container--img-slider {
    width: 1120px;
    height: 702px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content__container--markers {
    margin-top: 17px;
    width: 56px;
    height: 12px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.content__marker {
    width: 12px;
    height: 12px;
    border: none;
    background-color: #EFEEF6;
    border-radius: 50%;
}
.content__marker--active {
    background-color: #9E98DC;
}

.content__img {
    width: 100%;
    height: 100%;
}

.content__container--categories {
    position: absolute;
    top: 836px;
    left: -160px;
    width: 416px;
    background-color: #EFEEF6;
    display: flex;
    justify-content: center;
    align-items: center;

}



.content__container--book-cards {
    width: 924px;
    min-height: 1092px;
    margin-top: 151px;

    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: self-end;
    flex-wrap: wrap;
    row-gap: 96px;
    z-index: 2;


}


.content__container--button {
    width: 100%;
    justify-content: center;
}



.content__categories {
    margin-top: 45px;
    margin-bottom: 81px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 23px;
}

.content__item {
    list-style: none;
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: $text-color-grey;
    display: flex;
    cursor: pointer;
}

.content__item--active {
    list-style: none;
    font-family: Montserrat-Bold;
    font-size: 16px;
    color: $text-color-black;
    gap: 14px;
    position: relative;
}


.content__categories > .content__item--active::before {
    content: "\25CF";
    color: #756AD3;
    position: absolute;
    top: -1px;
    left: -20px;
}