$text-color-black: #1C2A39;
$text-color-grey: #5C6A79;

$fontBold: Montserrat-Bold;

$bookCardsFont: OpenSans-Regular;


$buttonColor: #4C3DB2;
$buttonBorderColor: #4C3DB2;
$buttonBckgColor: #FFFFFF;

$buttonColor-active: #5C6A79;
$buttonBorderColor-active: #EEEDF5;


$buttonColor--not-sale: red;
$buttonBorderColor--not-sale: red;


$promoOneBckgColor: #9E98DC;
$promoTwoBckgColor: #FF8FE6;

